<% if issue.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h3>

    <ul>
    <% issue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @issue, :html => {:class => 'form-horizontal form-label-left', 'data-parsley-validate' => ''} do |f| %>
  <div class="form-group">	
    <%= f.label :title, "Title", :class => 'control-label col-md-3 col-sm-3 col-xs-12'%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :title %><br />
    </div> 
  </div>	
    
  <div class="form-group">	
    <%= f.label :description, "Description", :class => 'control-label col-md-3 col-sm-3 col-xs-12'%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :description %><br />
    </div> 
  </div>	
  
  <div class="form-group">	
    <%= f.label :external_url, "External URL", :class => 'control-label col-md-3 col-sm-3 col-xs-12'%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :external_url %><br />
    </div> 
  </div>	
  
  <div class="form-group">	
    <%= f.label :severity, "Severity", :class => 'control-label col-md-3 col-sm-3 col-xs-12'%>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.select :severity, (0..5) %>
    </div> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
