<div class="x_content">
  <%= button_to 'Review', issue_review_path(@issue), method: :put, remote: true, class: "btn btn-default" %>
  <%= button_to 'Confirm', issue_confirm_path(@issue), method: :put, remote: true, class: "btn btn-success" %>
  <%= button_to 'In Development', issue_development_path(@issue), method: :put, remote: true, class: "btn btn-info" %>
  <%= button_to 'Complete', issue_complete_path(@issue), method: :put, remote: true, class: "btn btn-primary" %>
  <%= button_to 'Unverified', issue_unverified_path(@issue), method: :put, remote: true, class: "btn btn-warning" %>
</div>